const send_message = document.getElementById('send_message');
send_message.addEventListener('click', function(e){
    e.preventDefault();
    let content = document.getElementById('content');
    if(content.value !== null){
        let createHTML = `<div class="col-xs-offset-8 col-sx-4">
                            <div id="user message-<%= @message.id %>">
                                    <p>${content.value}</p>
                                    <p>時間</p>
                            </div>
                        </div>`;
        $('#chat_window').append(createHTML);
        console.log(createHTML)
        content.value = '';
        createHTML = '';
        console.log(createHTML)
        const chat_window = document.getElementById('chat_window');
        chat_window.scroll(0, 10000000); 
    };
});