<% if @user.errors.any? %>
    <div class="errors_explaination">
        <div class="alert alert-danger">
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </div>
    </div>
<% end %>