<div class="message_form">
   <textarea name="content" id="send_message_form" id="content"data-behavior="room_speaker" rows="1" placeholder="メッセージを送信"></textarea>
</div>
<div class="send_message_btn">
   <input type="button" value=">" id="send_message_btn">
</div>