<%= form_with(url: timelines_path, local: true) do |f| %>
    <div class="timeline_form">
        <%= f.text_area :content, rows:'2', placeholder: 'タイムラインを投稿' %>
    </div>
    <div class="post_timeline_btn">
        <%= f.submit '>' %>
    </div>
<% end %>